
.borderes{
	border-style: solid;
	padding: 2% 2% 2% 2%;
}

.borverde{	
	border-style: solid;
    border-width: 20px;
    border-color: #28a745; 

}
.padding{
padding: 2% 2% 2% 2%;
}

.blanco{
color: white

}

.ki{
	width: 30%;
}

/*locales*/

.fondol{
	background: white;
	padding: 2% 2% 2% 2%;
	height: 300px;
	color:black;
	border-style: solid;
    border-width: 20px;
    border-color: #28a745;

}
