body{
zoom:120%;
height: 600px;

}

.trans{
	background: transparent;
	border-style: solid;
	width: 100%;	

}

::placeholder {
  color: white;
}


.fondo{
	
	background-size: 100%;

}

.blanco{
	color:white;

}

.radio{
	border-radius: 10%;
	height:100px;
	-webkit-transform: rotate(-2deg);		
}

.letra{
	font-size: 100%;

}