.bordes{
 border-style: solid;
    border-color: #28a745;
    float: left	;

}

.cuadro{
	width:99%;
	height:270px;	
	border-style: solid;
    border-color: #28a745;
   /*padding:130px;*/

}

.aua{
width:99.5%;
height:100%;
border-style: solid;
border-color: #28a745;

}
.espacio{
	padding-left:50%i
}