.tamaño{
	font-size: 50px;
	float: right;
}
header label {
color: #28a745;

}
.bordes{	
	border-style: solid;
    border-color: #28a745;

}
header{
	height:635px;
}

footer li {
color:white;
 list-style:none;
}
